{% extends "layout.html" %}
{% block body %}
  <!-- Consider moving this to layout.html -->
  <script src="static/jquery-1.9.1.js" type="text/javascript"></script>
  <script>
      function sendRequest(id, vote) {
        $.ajax({
          type: "POST",
          url: id,
          data: {upvote: vote },
          cache: false,
          success: function(data) {
            {# alert(data); #}
          }
        });
      } 
  </script>

  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
      <dt>Confession:
      <dd><textarea name="confession" rows=5 cols=40></textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>
  <ul class=entries>
      {% for confession in confessions %}
        <li><h2>{{ confession.id}}</h2>{{ confession.confession|safe }}
        <a href="" id="downvote_{{ confession.id }}">-</a>
        <a href="" id="upvote_{{ confession.id }}">+</a>
        <script>
          $( document ).ready(function() {
              $( "#upvote_{{ confession.id }}" ).click(function() {
                  sendRequest({{ confession.id }}, 1);
                  return false;
                });
                $( "#downvote_{{ confession.id }}" ).click(function() {
                  sendRequest({{ confession.id }}, 0);
                  return false;
                });
            });
        </script>
      {% else %}
        <li><em>No confessions here so far</em>
      {% endfor %}
  </ul>
{% endblock %}
